<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.ejs') %>
</head>

<body class="profile-body">

  <span class="profile-container">
    <%- include('partials/profile.ejs') %>
  </span>

  <span class="pet-list">
    <%- include('partials/pet.ejs') %>
    <%- include('partials/pet.ejs') %>
    <%- include('partials/pet.ejs') %>
    <%- include('partials/pet.ejs') %>
  </span>


</body>

</html>


