<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.ejs') %>
</head>

<body class="profile-body">

  <span class="pet-list">
    <div class="span-title init-text">
      Your Sold Listings
    </div>
    <%- include('partials/pet.ejs') %>
    <%- include('partials/pet.ejs') %>
    <%- include('partials/pet.ejs') %>
    <%- include('partials/pet.ejs') %>
  </span>

  <span class="profile-container">
    <div class="span-title init-text">Pet Owner</div>
    <%- include('partials/profile.ejs') %>
    <div class="span-title init-text">Adoption Details</div>
    <%- include('partials/adopt.ejs') %>
  </span>


</body>

</html>
